h1{
    text-align: center;
    border: 0;
    padding: 2;
    margin: 0;
    font-size: 68;
}

h2{
    text-align: center;
    border: 0;
    padding: 2;
    margin: 0;
    font-size: 40;
}

p{
    text-align: center;
    border: 0;
    padding: 2;
    margin: 0;
    font-size: 8;
}

.flex{
    display: flex;
}

.item {
	margin: 5px;
	background: plum;
	text-align: center;
	font-size: 1.5em;
}