h1{
    font-size: 80px;
    color: white;
    margin: 20px;
    padding: 20px;
}

h2{
    font-size: 45px;
    margin: 20px;
    color: white;
}

p{
    padding: 20px;
    margin: 20px;
    font-size: 18px;
    color: white;
}

a{
    padding: 10px;
    margin: 10px;
    color: rgb(53, 53, 255);
    text-decoration: none; /*Tirar o sublinhado*/
    border: 2px solid rgb(53, 53, 255);
    border-radius: 5px;
}

body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('images/background.jpg');
    margin: 0;
    padding: 20px;
}

.item {
	margin: 10px;
    padding: 10px;
    border-radius: 8px;
}

.container{
    margin: 0px;
    padding: 20px;
    max-width: 100  0px;
    justify-content: center; /*Alinhar o conteudo no centro*/
}

.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}