h1 {
    text-decoration: underline black;
    font-size: 85px;
    margin: 23px;
    padding: 23px;
    color: black;
}
h2 {
    text-decoration: underline black; 
    font-size: 50px;
    color: black;
    margin: 23px;
    padding: 23px;
}

a{
    color: white; 
    text-decoration: none; 
    font-size: 20px;
}
body {
    text-align: center;
    margin: 0;
    padding: 0; 
    font-family: arial, sans-serif;
    background-color: rgb(129, 5, 125); 
    background-image: url('Fundo1.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    height: 100vh; 
}
ul.task-list {
    list-style-type: none; 
    padding: 0; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: flex-start; 
    margin: 0 auto; 
    width: fit-content;
}

ul.task-list li {  
    display: flex;
    align-items: center;
    gap: 10px; 
    font-size: 30px; 
    color: black;
    padding: 5px 0;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}
.task-actions {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.task-actions label {
    color: black;
    font-size: 22px;
}
.flex{
    display: flex;
}

.item_link{
    margin: 15px;
    padding: 15px;
    width: 80px;
    font-size: 1.5px;
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
}

.container_link{
    margin: 8px; 
    justify-content: center; 
}
.voltar {
    position: absolute;
    top: 10px;  
    left: 10px; 
}


