* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(image/fundo.jpg);
    background-size: cover;
    background-position: left;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 10px;
    min-height: 100vh; 
}
h1{
    font-size: 30px;
    font-family: 'Lucida Sans Unicode', sans-serif;
    font-style: italic;
}
.content{
    text-align: center;
    background-color: rgb(105,105,105);
    box-shadow: 5px 10px 15px #f83232;
    padding: 10px;
    border-radius: 5px;
    min-width: 0%;
    margin-top: 5px;
    margin-left: 55rem;
    margin-right: 5px;
    overflow: auto;
    width: 100%;
    max-width: 350px;/*pra limitar a largura*/
}
.entradas{
    margin-top: 0px;
    text-align: justify;
    font-size: 20px;
    font-family: 'Lucida Sans Unicode', sans-serif;
}
.input{
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: outset rgb(253, 13, 13);;
    background: rgb(239, 236, 236);
    border-radius: 5px;
    font-size: 15px;
}
.Spam-corrected{
    display: none;
}
button[type="submit"]{
    padding: 3px 35px; 
    font-size: 20px;
    font-family: 'Lucida Sans Unicode', sans-serif;
    border: none;
    outline: none;
    border-top: 3px;
    border-radius: 5px;
    background-color: rgb(253, 13, 13);
    color: #020202;
    cursor: pointer;
    transition: .3;
}
button[type="submit"]:hover{
    background-color: rgb(218, 110, 110);
}
.remember{
    font-size: 15px;
    font-family: 'Lucida Sans Unicode', sans-serif;
    margin-top: 5px;
    text-align: justify;
}
.recuperar{
    font-size: 15px;
    font-family: 'Lucida Sans Unicode', sans-serif;
    text-align: right;
    margin-right: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}
.cadastrar{
    font-size: 15px;
    font-family: 'Lucida Sans Unicode', sans-serif;
    margin-top: 5px;
    text-align: justify;
    margin-bottom: 5px;
    color: #050505;
}
.link{
    text-decoration: none;
    color: #100c0c;
    font-weight: bold;
}
.redes{
    font-style:normal;
    text-align: center;
    padding: 15px; 
}
.redes img{
    width: 30px;
    margin: 10px;
    transition: transform 0.3s ease;
}
.nav {
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0,);
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
nav a {
    color: rgb(216, 28, 28);
    text-decoration: none;
    margin: 0 2px;
    padding: 6px 10px; /* Espaçamento interno dos links */
    font-size: 140%;
    margin-left: 10px;
    
}
.img_icon{
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
}