body {
    background-color:rgb(142, 143, 145);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
	display: flex;
	align-items: center;
	background-color:rgb(246, 247, 248);
	/* Cor de fundo */
	padding: 10px 20px;
	border-radius: 8px;
    border: 2px solid rgb(8, 8, 8);
}

nav a {
	font-size: 140%;
	color: rgb(10, 10, 10);
	text-decoration: none;
	margin: 0 2px;
	padding: 6px 10px;
	/* Espaçamento interno dos links */
}
.img_icon {
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
}

h1 {
    font-size: 35px;
    font-weight: bold;
    color: rgb(12, 12, 12);
    margin: 5px 0;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    color: rgb(12, 12, 12);
}
h3{
    font-size: 15px;
}

.texto {
    line-height: 1.5;
    font-size: 20px;
    color: rgb(7, 7, 7);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 20px;
    flex-wrap: wrap;
}

.esquerda img {
    width: 380px;
    height: auto;
    border-radius: 10px;
    border: 5px solid rgb(13, 13, 14);
    margin-top: 10px;
}

.direita {
    background-color: rgb(252, 252, 252);
    border-radius: 10px;
    padding: 20px;
    color: rgb(8, 8, 8);
    margin-top: 10px;
}

.container1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.container2 {
    border: 2px solid rgb(5, 5, 5);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    min-width: 250px;
}

#nav_icons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.titulo{
    font-size: 70px;
    color: black;
    margin-top: 15px;
    
}
.subtitulo{
    font-size:30px;
    color: black;
    margin-top: 1px;
}