h1 {
    font-size: 85px;
    margin: 23px;
    padding: 23px;
    color: black;
}
h2 {
    font-size: 50px;
    margin: 20px;
    padding: 20px;
    color: black;
}
p {
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    color: black;
}
a{
    color: white; 
    text-decoration: none; 
    font-size: 20px;
}
body {
    text-align: center;
    margin: 0;
    padding: 0; 
    font-family: arial, sans-serif;
    background-color: rgb(129, 5, 125); 
    background-image: url('Imagens/Fundo.jpg');  
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    height: 100vh; 
}
.testemunhos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.testemunho {
    background-color: beige;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    max-width: 600px;
    width: 100%;
    text-align: center;
}
.depoimento p {
    font-style: italic; 
    font-size: 1.2em;
    color: #020202;
}

footer {
    margin-top: 10px;
    font-weight: bold;
    color: black;
}
.foto {
    border-radius: 50%;
    width: 100px; 
    height: 100px; 
    object-fit: cover; 
    margin-bottom: 15px;
}
.flex{
    display: flex;
}
.item_link{
    margin: 15px;
    padding: 15px;
    width: 80px;
    font-size: 1.5px;
    border-radius: 8px;
    background-color: white
}

.container_link{
    margin: 8px; 
    justify-content: center; 
}
.voltar {
    position: absolute;
    top: 10px;  
    left: 10px; 
}
.voltar a{
    color: black;
}