body{
    background-image: url("pizza_image.jpg");
    background-size: cover; /* cobre o fundo todo*/
    background-position: center; /* centraliza */
    background-repeat: no-repeat; /* não permite repetição */
    height: 100vh; /* garante que ocupe a tela toda */

    color: white;
}

main{
    margin-top: 100px;
    margin-left: 525px;
}
h1 { /* Título pizza hut */
    font-size: 400%;
    font-family:Georgia, 'Times New Roman', Times, serif

}
p { /* Todos os parágrafos */
    font-size: 20px;
}

h2{
    font-size: 150%;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}

h3{
    font-size: 150%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}