body{
    background-image: url("images/pizza_image.jpg");
    background-size: cover; /* cobre o fundo todo*/
    background-position: center; /* centraliza */
    background-repeat: no-repeat; /* não permite repetição */
    height: 100vh; /* garante que ocupe a tela toda */
    color: white;
}

main{
    margin-top: 50px;
    margin-left: 550px;
}

h1 { /* Título pizza hut */
    font-size: 65px;
    font-family:'Courier New', Courier, monospace;
    font-weight: 700;
    color:rgb(204, 142, 85);
}

p { /* Todos os parágrafos */
    font-size: 20px;
}

h2{
    font-size: 160%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    color:rgb(204, 142, 85);
}

h3{
    font-size: 160%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    color: rgb(204, 142, 85);
}

.nav {
    display: flex;
    align-items: center;
    background-color: rgb(204, 142, 85); /* Cor de fundo */
    padding: 10px 20px;
    border-radius: 8px;
}

nav a {
    font-size: 140%;
    color: white;
    text-decoration: none;
    margin: 0 2px;
    padding: 6px 10px; /* Espaçamento interno dos links */
}
.img_icon{
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
}

#nav_icons{
    display: flex;
    align-items: center;
    border-radius: 8px; 

}