h1{
    height: 120px;
    border: 0;
    padding: 2;
    margin: 0;
    font-size: 60;
    color: white;
    font-size: 90px;
}

h2{
    font-size: 45px;
}

h3{
    width: auto;
    font-size: 25px;
    color: white;
}

p{
    text-align: left;
    border: 0;
    padding: 2;
    margin: 0;
    font-size: 8;
    color: white;
    font-size: 19px;
}

a{
    color: white;
}

body{
    text-align: center;
    background-color: black;
}

.img_produto{
    max-width: 180px;
    max-height: 180px;
}

.flex{
    display: flex;
}

.item {
	margin: 2px;
    width: 60px;
    height: 30px;
	font-size: 1.5em;
    border: solid 1.5px white;
}

.container{
    margin: 30px;
    padding: 25px;
    width: 1000px;
    height: 300px;
    background-color: blue;
}

.container_link{
    width: 20px;
    margin: auto;
}

.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-item-1 {
	flex: 1;
}