* {
    padding: 0;
    margin: 0;
}

h1{
    font-size: 60px;
}

h2{
    font-size: 45px;
}

h3{
    font-size: 190%;
    margin: 2%;
}

p{
    text-align: left;
    margin: 0;
    font-size: 16px;
}

a{
    color: #268dfa; /* Cor do link */
    text-decoration: none; /* Remove o sublinhado */
    font-size: 20px;
}

span{
    text-align: justify;
    margin: 2%;
}

body{
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: center;
    background-image: url("./background/background.jpg");
    height: 100%;

    /* Criar um efeito de a imagem seguir a tela */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img_profile{
    max-width: 150px;
    max-height: 150px;
    margin: 10px;
    padding: 10px;
    border-radius: 50%;
}

.img_logo{
    max-width: 50px;
    max-height: 50px;
}

.flex{
    display: flex;
}

.item {
	margin: 15px;
    padding: 15px;
    width: 200px;
	font-size: 1.5px;
    border-radius: 8px;
    background-color: white;
}

.container{
    margin: 10px;
    padding: 10px;
    justify-content: left; /*Centralizar o conteudo*/
    align-items: center;
    border-bottom: solid 1px;
    border-top: solid 1px;
}

.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

#container-div{
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    justify-content: center; /*Centralizar o conteudo*/
    align-items: center;
}

#nav-div{
    padding: 10px;
    margin: 10px;
}

/* Parte da nav bar*/

nav {
    display: flex;
    justify-content: center;
    background-color: #aca13f9d; /* Cor de fundo */
    padding: 10px 20px;
    border-radius: 8px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 2px;
    padding: 6px 10px; /* Espaçamento interno dos links */
}

/* Parte da nav bar*/