h1{
    padding: 20px;
    margin: 0;
    font-size: 60px;
}

h2{
    font-size: 45px;
}

h3{
    font-size: 190%;
    margin: 2%;
}

p{
    text-align: left;
    margin: 0;
    font-size: 16px;
}

a{
    color: #268dfa; /* Cor do link */
    text-decoration: none; /* Remove o sublinhado */
    font-size: 20px;
}

span{
    text-align: justify;
    margin: 2%;
}

body{
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
}

.img_profile{
    max-width: 150px;
    max-height: 150px;
    margin: 4%;
    padding: 4%;
}

.img_logo{
    max-width: 50px;
    max-height: 50px;
}

.flex{
    display: flex;
}

.item {
	margin: 15px;
    padding: 15px;
    width: 200px;
	font-size: 1.5px;
    border-radius: 8px;
    background-color: white;
}

.container{
    margin: 50px;
    padding: 20px;
    max-width: fit-content;
    max-height: fit-content;
    justify-content: center; /*Centralizar o conteudo*/
    border-bottom: solid 1px;
    border-top: solid 1px;
}

.img_container{
    margin: 1.2%;
    padding: 1.2%;
    max-width: fit-content;
    max-height: fit-content;
    justify-content: center; /*Centralizar o conteudo*/
}

.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

/* Parte da nav bar*/

nav {
    display: flex;
    justify-content: center;
    background-color: #333; /* Cor de fundo */
    padding: 10px 20px;
    border-radius: 8px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 2px;
    padding: 6px 10px; /* Espaçamento interno dos links */
}

/* Parte da nav bar*/