body {
    background-image: url(images/fundoimg3.jpg);
    background-size: cover;
    /* cobre o fundo todo */
    background-position: center;
    /* centraliza */
    background-repeat: no-repeat;
    /* não permite repetição */
    height: 100vh;
    /* garante que ocupe a tela toda */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    background-color: #dd6986;
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px solid rgb(12, 12, 12);
}

nav a {
    font-size: 140%;
    color: rgb(5, 5, 5);
    text-decoration: none;
    margin: 0 2px;
    padding: 6px 10px;
}

.img_icon {
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
}

#container {
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 5px;
    padding: 20px;

}

.block {
    background-color: #dd6986;
    width: 200px;
    height: 200px;
    border: 2px solid rgb(12, 12, 12);
}

h1 {
    font-size: 50px;
    margin-left: 0.2rem;
    text-shadow: 10px 5px 10px rgba(0, 0, 0, 0.7);
}

h2 {
    font-size: 25px;
    color: black;
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 10px;
}

h3 {
    font-size: 25px;
    margin-left: 70px;
    text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px rgb(243, 247, 247),
        0 0 30px rgb(251, 255, 255),
        0 0 40px rgb(247, 248, 248),
        0 0 50px rgb(252, 255, 255),
        0 0 60px rgb(247, 248, 248);
    
}

.img {
    width: 150px;
    height: 140px;
    margin-left: 25px;
    border: 2px solid rgb(12, 12, 12);
}

.perfil {
    margin-left: 65px;
    
}

.blog {
    margin-left: 70px;
}

.contato {
    margin-left: 55px;
}

.faq {
    margin-left: 70px;
}

.login {
    margin-left: 65px;
}

.produto {
    margin-left: 60px;
}

.listaTarefas {
    margin-left: 15px;
}

.testemunhos {
    margin-left: 30px;
}

.mpSite {
    margin-left: 30px;
}

.galeriaFt {
    margin-left: 20px;
}

.perfilEquipe {
    margin-left: 15px;
}

.lançProd {
    margin-left: 10px;
}