body {
    background-image: url("images/img_fundo3.jpg");
    background-size: cover;
    /* cobre o fundo todo */
    background-position: center;
    /* centraliza */
    background-repeat: no-repeat;
    /* não permite repetição */
    height: 100vh;
    /* garante que ocupe a tela toda */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    margin-top: 50px;
    margin-left: 550px;

}

.nav {
    display: flex;
    align-items: center;
    background-color: rgb(65, 68, 78);
    padding: 10px 20px;
    border-radius: 8px;
}

nav a {
    font-size: 140%;
    color: white;
    text-decoration: none;
    margin: 0 2px;
    padding: 6px 10px;
}

.img_icon {
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
}